



.products {
    padding: 20px 16px;
/*     background-image: url("/images/imgMainProduct.jpg"); */
}

/* ====== КОНТЕЙНЕР ====== */

.products__container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ====== ЗАГОЛОВОК ====== */

.products__title {
  text-align: center;
  font-size: 32px;
width: 600px;
  color: #522919;;
      border-top: 1px solid #522919;
}

/* ====== СЛАЙДЕР-ОБЁРТКА (КЛЮЧ!) ====== */

.products__slider {
  max-width: 760px;
  margin: 0 auto;
  
}

/* ====== SWIPER FIX ====== */

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

/* ====== КАРТОЧКА ====== */

.product-card {
  width: 100%;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
  .product-card:hover img {
  transform: scale(1.05);
}


/* ====== ИЗОБРАЖЕНИЕ ====== */

.product-card img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  display: block;
    transition: transform 0.5s ease;
}

/* ====== КНОПКА ====== */

.products__btn {
  display: block;
  margin: 20px auto 0;
  padding: 14px 36px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: #522919;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.swiper-pagination {
  position: relative;
  

}
.swiper-pagination-bullet {
  border-radius: 10px;
  height: 3px;
  width: 40px;
} 


.products__btn:hover {
  background: #333;
}

/* ====== АДАПТАЦИЯ ====== */

@media (max-width: 768px) {
  .products__title {
    font-size: 26px;
    width: 450px;
  }

  .products__slider {
    max-width: 450px;
    height: 250px;
  }

  .product-card img {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .products__slider {
    max-width: 360px;
    height: 260px;
  }

  .product-card img {
    height: 250px;
  }
  .products__title {

    width: 350px;
  }

}
/* ====== СТРЕЛКИ ====== */

