/* ===== HEADER ===== */
.header {
  width: 100%;
}

/* ===== CONTAINER ===== */
.header__container {
position: fixed;
z-index: 1000;
  max-width: 1200px;
 
  margin: 0 ;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  
}
.header__main {
  display: flex;
 padding-top: 100px;
 max-width: 750px;
      

}
.header__main_img{
        
        

}
/* ===== LOGO ===== */
.header__logo {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
margin-left: 15px;
}


.header__logo span {
  color: #703409;
}

/* ===== NAV DESKTOP ===== */
.nav {
  display: flex;
  gap: 14px;
  margin-right: 10px;
margin-left: 280px;
}
.burger--open {
  z-index: 10000;
}

.nav a {

  color: #522919;
  text-decoration: none;
  font-size: 16px;
}
.nav a:hover {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  scale: 1.1;
  transition: all 0.3s;
}

/* ===== BURGER ===== */
.burger {
  display: none;
  width: 28px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 100%;
  background: #1eb2df;
  transition: 0.3s;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  /* скрываем десктоп нав */
  .nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -110%;
    width: 100%;
    
    height: 100vh;
    background: #00000083;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: 0.3s;
  }
  .nav a{
 color:#1eb2df;;
  }
.header__main_img{
        
        height: 300px;

}
  .nav--open {
    right: -10px;
    /* top: 0; */
  }

  .burger {
  display: flex;
  position: fixed;
 
  right: 20px;
  z-index: 1001; /* выше меню, но ниже модальных окон */
  transition: transform 0.3s ease-out;
}

/* При скролле вниз — скрываем бургер */
.burger--hidden {
  transform: translateY(-100%);
}
  /* анимация бургера */
  .burger--open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .burger--open span:nth-child(2) {
    opacity: 0;
  }

  .burger--open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}
