/* ===== HEADER ===== */
.header {
  width: 100%;
}

/* ===== CONTAINER ===== */
.header__container {
position: fixed;
z-index: 1000;
  max-width: 1200px;
 
  margin: 0 ;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  
}
.header__main {
  display: flex;
 padding: 100px 25px 0 ;
 max-width: 750px;
 margin: 0px 10px;
align-items: center;

}
.header__main__item {
 width: 100%;

}
.header__main__img {
   max-width: 55%;

}
.header__main__item img{
  border-radius: 150px;
  max-width: 100%;        
  height: auto;          
  display: block;         
  margin: 0 auto;   
}

.header__main__title {
  color: #522919;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  font-size: 25px;
    background: linear-gradient(90deg, #522919, #D2691E);
  background-size: 200% 100%; /* Для анимации */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-position 0.5s;
}

.header__main__title:hover {
  background-position: 100% 0;
}

/* ===== LOGO ===== */
.header__logo {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
margin-left: 15px;
}


.header__logo span {
  color: #703409;
}

/* ===== NAV DESKTOP ===== */
.nav {
  display: flex;
  gap: 14px;
  margin-right: 10px;
margin-left: 280px;
}
.burger--open {
  z-index: 10000;
}

.nav a {
  color: #522919;
  text-decoration: none;
  font-size: 16px;
}
.nav a:hover {
  color: #333;
  text-decoration: none;
    border-bottom: 1px solid #1eb2df;
  scale: 1.1;
  transition: all 0.3s;
}

/* ===== BURGER ===== */
.burger {
  display: none;
  width: 28px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 100%;
  background: #1eb2df;
  transition: 0.3s;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -110%;
    width: 100%;
    
    height: 100vh;
    background: #00000083;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: 0.3s;
  }
  .nav a{
 color:#1eb2df;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;

  }

.header__main__title {
  font-size: 20px;
 
}

  .nav--open {
    right: -10px;
  }

  .burger {
  display: flex;
  position: fixed;
 
  right: 20px;
  z-index: 1001; /* выше меню, но ниже модальных окон */
  transition: transform 0.3s ease-out;
}

/* При скролле вниз — скрываем бургер */
.burger--hidden {
  transform: translateY(-100%);
}
  /* анимация бургера */
  .burger--open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .burger--open span:nth-child(2) {
    opacity: 0;
  }

  .burger--open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}
