/* ===== HEADER ===== */
.header {
  width: 100%;
  height: 100vh;
  background: url("/images/imgMainTop.jpg") center / cover no-repeat;
}

/* ===== CONTAINER ===== */
.header__container {
  background: url("/images/imgHeaderTop.jpg") center / cover no-repeat;
  max-width: 1200px;
  margin: 0 ;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===== LOGO ===== */
.header__logo {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.header__logo span {
  color: #f2c9ac;
}

/* ===== NAV DESKTOP ===== */
.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* ===== BURGER ===== */
.burger {
  display: none;
  width: 28px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 100%;
  background: #fff;
  transition: 0.3s;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  /* скрываем десктоп нав */
  .nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #0000005b;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: 0.3s;
  }

  .nav--open {
    right: 0;
  }

  .burger {
    display: flex;
  }

  /* анимация бургера */
  .burger--open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .burger--open span:nth-child(2) {
    opacity: 0;
  }

  .burger--open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}
